* {
  box-sizing: border-box;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
}

header.main_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgb(207, 206, 206);
  margin-bottom: 8px;
  background: white;
  position: sticky;
  top: 0;
  height: 50px;
}

header.main_header>div {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 8px;
}

header.main_header>div>a:first-child>svg {
  height: 20px;
  width: 20px;
  padding: 0;
}

header.main_header>div>a {
  margin-right: 8px;
  padding: 0 8px;
  height: 35px;
  border-radius: 4px;
  display: grid;
  place-items: center;
  border: 1px solid rgb(207, 206, 206);
  background: rgb(230, 229, 229);
}

header.main_header>div>a:last-child>svg {
  width: 30px;
  height: 30px;
  padding: 0;

  /* padding: 11.5px 0; */
}

section.empty_reviews {
  margin-top: 16px;
  font-size: 20px;
}

section {
  margin: 4px 16px;
  border-radius: 4px;
}

form {
  margin: 4px 14px;
  border-radius: 4px;
  padding: 8px 4px;
  border: 4px solid transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form.yes {
  border: 4px solid green;
}

form.no {
  border: 4px solid red;
}

form span.question {
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: bold;
}

form span.translate {
  height: 20px;
  display: block;
  padding: 0 4px;
}

form button {
  margin: 4px 0;
}

form input {
  margin: 8px 0;
}

button {
  border-radius: 4px;
  border: 1px solid rgb(207, 206, 206);
  background: rgb(230, 229, 229);
  padding: 4px;
  margin: 8px;
  cursor: pointer;
}

button.next {
  margin: 4px 20px;
  width: calc(100% - 40px);
  background: rgb(78, 176, 78);
}

button:disabled {
  cursor: not-allowed;
  background: rgb(246, 245, 245);
}

input {
  border-radius: 4px;
  border: 1px solid rgb(207, 206, 206);
  background: rgb(246, 245, 245);
  padding: 4px;
  margin: 8px;
}

select {
  width: 75px;
  padding: 0 4px;
  height: 35px;
  border-radius: 4px;
  border: 1px solid rgb(207, 206, 206);
  background: rgb(230, 229, 229);
  margin: 8px;
}

main.container>h1 {
  margin: 16px 20px;
}

svg {
  padding: 12px;
}

div.message {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}

div.queue {
  margin: 4px 20px;
  display: flex;
  justify-content: center;
  gap: 4px;
}

div.queue>span {
  padding: 6px;
  display: flex;
  align-items: center;
  /* border: 1px solid rgb(207, 206, 206);
  background: rgb(230, 229, 229); */
  border-radius: 4px;
  height: 40px;
}

div.queue>span.kanji {
  background: #ff99dd;
  border: 1px solid #dd51ae;
}

div.queue>span.vocab {
  background: #a100f1;
  border: 1px solid #8108bd;
  color: white;
}

div.queue>span.radical {
  background: #7ecaec;
  border: 1px solid #3d9bc7;
}

div.queue svg {
  max-width: 17px;
  max-height: 17px;
  padding: 0;
}

div.char.kanji {
  background: #ff99dd;
  border: 1px solid #dd51ae;
}

div.char.vocab {
  background: #a100f1;
  border: 1px solid #8108bd;
  color: white;
}

div.char.radical {
  background: #7ecaec;
  border: 1px solid #3d9bc7;
}

div.char {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 16px;
  font-size: 60px;
  height: 130px;
  border-radius: 4px;
  margin-bottom: 8px;
}

div.char>svg {
  max-height: 100%;
}

div.queue>div {
  display: flex;
  align-items: end;
  padding-left: 4px;
}

a.button {
  display: flex;
  padding: 8px;
  font-weight: bolder;
  font-size: 24px;
  color: black;
  width: 100%;
  text-decoration: none;
  background: #4eb04e;
  border: 1px solid rgb(207, 206, 206);
  border-radius: 4px;
  margin-bottom: 8px;
}

a.button.kanji {
  background: #ff99dd;
}

a.button.vocab {
  background: #a100f1;
  color: white;
}

a.button.radical {
  background: #7ecaec;
}


section.danger>button.clear {
  background: red;
  color: white;
  width: 100%;
  padding: 4px 8px;
  margin: 0;
}

div.empty {
  display: grid;
  margin-top: 16px;
  font-size: 25px;
  place-items: center;
  font-weight: bolder;
}